.firstdiv{
    background-color: #F9FAFD;
    padding-top: 36px;
}
.firstpara{
    background-color:black;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 46px;
padding-left: 10px;
/* or 153% */


/* white */

color: #FFFFFF;

}
.firstparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.image{
    width: 80%;
    height: auto;
  overflow: "hidden"
    
}
.secondiv{
    padding-top: 50px;
}
.images{
    
  width: 100%;
  height: 180px;
    
  overflow: "hidden"
    
}
.secondpara{
    margin-top: 15px ;
    background-color:black;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 46px;
padding-left: 10px;
/* or 153% */


/* white */

color: #FFFFFF;

}
.secondparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.thirdiv{
    
}