.firstdiv{
    background-color: #F9FAFD;
    padding-top: 36px;
}
.firstpara{
    background-color:black;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 46px;
padding-left: 10px;
/* or 153% */


/* white */

color: #FFFFFF;

}
.firstparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.image{
    width: 80%;
    height: auto;
  overflow: "hidden"
    
}
.secondiv{
    padding-top: 50px;
}
.images{
    
  width: 100%;
  height: 180px;
    
  overflow: "hidden"
    
}
.secondpara{
    margin-top: 15px ;
    background-color:black;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 46px;
padding-left: 10px;
/* or 153% */


/* white */

color: #FFFFFF;

}
.secondparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.thirdiv{
    margin-top: 45px;
    background-color: #F9FAFD;
}
.upper{
    padding-top: 55px;
}
.thirdpara{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 120%;
/* or 36px */


/* black */

color: #020202;

}
.thirdparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.imagess{
    width: 80%;
  height: 300px;
    
  overflow: "hidden"

}
@media screen and (max-width: 380px) {
    .imagess{width: 100%;overflow: hidden;}
    .image{width: 100%;overflow: hidden;}
    
  }
.fourthdiv{
    padding-top: 15px;
    padding-bottom: 50px;
}
.img{
    width: 100%;
    overflow: hidden;
}
.fifthpara{
    padding-top: 15px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */


/* black */

color: #020202;

}
.sixthdiv{
    padding-top: 50px;
}
.sixthpara{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 43px;
color: #020202;
}
.sixthparag{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


/* text */

color: #677088;
}
.sixthbold{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;


color: #677088;

}
.sixthimage{
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}
.paragraph{
    padding-top: 43px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */

text-align: center;

/* black */

color: #020202;
}
.rowing{
    
}